<!-- {% extends "base.html" %}

{% block title %}Commission Request{% endblock %}

{% block content %}
    <h1>Commission Request</h1>
    
    <form method="POST">
        {{ form.hidden_tag() }}  CSRF Protection -->
        
        <!-- <label for="email">{{ form.email.label }}</label>
        {{ form.email(class="form-control") }}
        
        <label for="details">{{ form.details.label }}</label>
        {{ form.details(class="form-control") }}
        
        <br>
        {{ form.submit(class="btn btn-primary") }}
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %} -->
