{% extends "base.html" %}

{% block title %}About Page{% endblock %}

{% block content %}
        <div class="header">
        <h1>ABOUT PAGE</h1>
    </div>
    <!-- <div class="image-container">
        <img src="{{ url_for('static', filename='images/360_F_306933634_wmKmk9AFgL1r7tMYgKbJYnRE9vGAovTa.jpg') }}" alt="Image">
    </div> -->

    <div class="text-container">
        <p> 
            Hey there! I’m Zoey—a digital artist and Twitch streamer who specializes in bringing unique visions to life through commission work. Whether it’s character designs, illustrations, or custom pieces, I love creating art that resonates with people and captures their ideas in a way that feels personal and meaningful. On stream, I share my process, offer tips, and give a behind-the-scenes look at the world of digital commissions. Art isn’t just my passion—it’s my way of making something special for others. Let’s create something amazing together! 🎨✨
        </p>

        <div class="contact-me">

            <p>
                <strong>Contact Me! At </strong> <a href="mailto:truxonl@cppasd.com">gaiya.creates@gmail.com</a>
            </p>

        </div>
    </div>




<script src = "index.js"></script>
{% endblock %}

