{% extends "base.html" %}

{% block title %}About Page{% endblock %}

{% block content %}
        <div class="header">
        <h1>ABOUT PAGE</h1>
    </div>
    <!-- <div class="image-container">
        <img src="{{ url_for('static', filename='images/360_F_306933634_wmKmk9AFgL1r7tMYgKbJYnRE9vGAovTa.jpg') }}" alt="Image">
    </div> -->

    <div class="text-container">
        <p> 
            Will you take a look at that? Pretty pathetic, huh? Well, you'll never believe this, but that llama you're looking at was once a human being. And not just any human being. That guy was an emperor. A rich, powerful ball of charisma. Oh, yeah! This is his story. Well, actually my story. That's right-- I'm that llama. The name is Kuzco... Emperor Kuzco. I was the world's nicest guy, and they ruined my life for no reason. Oh, is that hard to believe? Look, I tell you what. You go back always-- you know, before I was a llama, and this will all make sense. All right, now see, that's a little too far back. Oh, ho! Look at me! That's me as a baby. Ahem! All right, let's move ahead.
        </p>

        <div class="contact-me">

            <p>
                <strong>Contact Me!</strong> <a href="mailto:truxonl@cppasd.com?subject=Question">truxonl@cppasd.com</a>
            </p>

        </div>
    </div>




<script src = "index.js"></script>
{% endblock %}

