<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title> <!-- HTML Page Title (Will be replaced by child templates) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Navbar -->
    <nav>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/commission">Commission</a>
            <a href="/about">About</a>
            <!-- <a href="/logout">Log Out</a> -- used during development to easily logout and test passcode-secure pages--> 
        </div>
    </nav>

    <!-- Main Content Block (Will be replaced by child templates) -->
    <main>
        <div class="big_buddy">
            {% block content %}{% endblock %}
        </div>
    </main>
    
    <footer>
        <div class="contact-box">
            <h2>Contact Me!</h2>
            <p><strong>Email:</strong> gaiya_creations@gmail.com</p>
            <p><strong>Twitch:</strong> link_to_twitch</p>
            <p><strong>Gaiya Discord Server:</strong> link_to_discord</p>
        </div>
    </footer>

</body>
</html>
