{% extends "base.html" %}
{% block title %}Commission Page{% endblock %}


    {% block content %}
    
        <div class="header">
            <h1>COMMISSION REQUEST</h1>
        </div>
        <!-- <div class="image-container">
            <img src="{{ url_for('static', filename='images/depositphotos_38143799-stock-photo-e-commerce-shopping-cart-with.jpg') }}" alt="Image">
        </div> -->
        <div class="text-container">
            <div class="form-container">
                <form action="/commission" method="POST">
                    {{ form.hidden_tag() }}  <!-- ✅ CSRF Token -->  
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="youremail@blankety.com" required>
                    </div>
                    <br>
                    <div>
                        <label for="request"><strong>Request:</strong></label>
                        <textarea type="text" id="request" name="request" placeholder="Describe your commission request." wrap="hard" rows="5"></textarea>
                    </div>
                    <br>
                    <div>
                        <label for="deadline">Deadline:</label>
                        <input type="date" id="deadline" name="deadline" required>
                    </div>
                    <br>
                    <div>
                        <label for="questions" id="question_label"><strong>Questions:</strong></label>
                        <textarea type="text" id="questions" name="questions" placeholder="Any questions for Gaiya?" wrap="hard" rows="5"></textarea>
                    </div>
                    <br>
                    <div class="form-buttons">
                        <button type="reset" class="reset-btn">Reset</button>
                        <button type="submit" class="submit-btn">Submit</button>
                    </div>
                </form>

                <a href="{{ url_for('views.view_requests')}}">Admin Only: View Requests</a>
            </div>
        </div>
    
    {% endblock %}

