{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    
        <div class="header">
            <h1>HOME</h1>
        </div>
        <div class="banner">
            <img src="{{ url_for('static', filename='images/Blossom.png') }}" alt="Image">


        </div>
        <div class="text-container">
            <p>
                Hey there! I’m so excited to have you here. This is where I showcase my digital artwork, from emotes and profile pictures to banners, overlays, and custom designs. I also take commissions, so if you’re looking for something unique—whether it’s for your stream, social media, or a personal project—head over to the Commissions page to learn more. Thanks for stopping by, and I hope you enjoy exploring my work! 

            </p>
        </div>
{% endblock %}
