{% extends "base.html" %}

{% block title %}Portfolio- My Website{% endblock %}

{% block content %}
    
    <div class="big_buddy">
        <div class="header">
            <h1>PORTFOLIO PAGE</h1>
        </div>
        <!-- <div class="image-container"> 
            <img src="{{ url_for('static', filename='images/Illustration-I-Burried-My-Dreams-In-That-Summer-Night-2022-DannieNiu-v2.jpg') }}" alt="Image">
        </div> -->

        <div class="text-container">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste illum sed, nostrum enim harum ea incidunt repellendus corporis, hic inventore nisi quos aliquam explicabo eligendi excepturi exercitationem sequi rerum atLorem ipsum dolor sit amet consectetur adipisicing elit. Iste illum sed, nostrum enim harum ea incidunt repellendus corporis, hic inventore nisi quos aliquam explicabo eligendi excepturi exercitationem sequi rerum at Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste illum sed, nostrum enim harum ea incidunt repellendus corporis, hic inventore nisi quos aliquam explicabo eligendi excepturi exercitationem sequi rerum at
            </p>
        </div>
    </div>

    {% endblock %}
