{% extends "base.html" %}

{% block title %}Add Portfolio Item{% endblock %}

{% block content %}
    <div class="header"><h1>Delete Portfolio Item</h1></div>

    <!-- Form Start -->
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}<br>
            {{ form.title(size=40) }}
        </div>
        <div>
            {{ form.product_type.label }}<br>
            {{ form.product_type(size=40) }}
        </div>
        <br>
        {{ form.submit() }}
    </form>
{% endblock %}

