{% extends "base.html" %}

{% block title %}Portfolio Page{% endblock %}

{% block content %}
        <div class="header">
            <h1>PORTFOLIO</h1>
        </div>
            <h2 id="intro-text">
                A selection of custom digital art created for streamers and online creators — including Twitch emotes, VTuber models, profile pictures, and more.
            </h2>
    <div class="portfolio-container">
        

        <div class="artwork_header">
            <h2>Profile Pictures</h2>
        </div>
            {% for item in portfolio %}
                {% if item.product_type == "pfp" %}
                    <div class="artwork_display">
                        {% if item.artwork %}
                            <img src="{{ url_for('views.serve_image', art_id=item.id) }}" alt="{{ item.title }}">
                        {% endif %}
                        <h3>{{ item.title }}</h3>
                    </div>
                {% endif %}
            {% endfor %}

        <div class="artwork_header">
            <h2>VTuber</h2>
        </div>
            {% for item in portfolio %}
                {% if item.product_type == "vtuber" %}
                    <div class="artwork_display">
                        {% if item.artwork %}
                            <img src="{{ url_for('views.serve_image', art_id=item.id) }}" alt="{{ item.title }}">
                        {% endif %}
                        <h3>{{ item.title }}</h3>
                    </div>
                {% endif %}
            {% endfor %}

        <div class="artwork_header">
            <h2>Emotes</h2>
        </div>
        {% for item in portfolio %}
            {% if item.product_type == "emote" %}
                <div class="artwork_display">
                    {% if item.artwork %}
                        <img src="{{ url_for('views.serve_image', art_id=item.id) }}" alt="{{ item.title }}">
                    {% endif %}
                    <h3>{{ item.title }}</h3>
                </div>
            {% endif %}
        {% endfor %}

        <!-- <div class="artwork_header"> ||| can be re-added once enough logo designs are completed
            <h2>Logo Designs</h2>
        </div>
            {% for item in portfolio %}
                {% if item.product_type == "logo" %}
                    <div class="artwork_display">
                        {% if item.artwork %}
                            <img src="{{ url_for('views.serve_image', art_id=item.id) }}" alt="{{ item.title }}">
                        {% endif %}
                        <h3>{{ item.title }}</h3>
                    </div>
                {% endif %}
            {% endfor %} -->

        <div class="artwork_header">
            <h2>Sketches</h2>
        </div>
            {% for item in portfolio %}
                {% if item.product_type == "sketch" %}
                    <div class="artwork_display">
                        {% if item.artwork %}
                            <img src="{{ url_for('views.serve_image', art_id=item.id) }}" alt="{{ item.title }}">
                        {% endif %}
                        <h3>{{ item.title }}</h3>
                    </div>
                {% endif %}
            {% endfor %}

        <div class="artwork_header">
            <h2>Other</h2>
        </div>
            {% for item in portfolio %}
                {% if item.product_type == "other" %}
                    <div class="artwork_display">
                        {% if item.artwork %}
                            <img src="{{ url_for('views.serve_image', art_id=item.id) }}" alt="{{ item.title }}">
                        {% endif %}
                        <h3>{{ item.title }}</h3>
                    </div>
                {% endif %}
            {% endfor %}
            
    </div>
    <p><a href="{{ url_for('views.portfolio_add')}}">Admin Only: Add Portfolio Item</a></p>

  

    {% endblock %}
