{% extends "base.html" %}

{% block title %}View Commission Requests{% endblock %}

{% block content %}
    <div class="header"><h1>View Your Requests</h1></div>
    <div class="request-container">
        <table>
            <colgroup>
                <col style="width: 35%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
                <col style="width: 15%;">
                <col style="width: 10%;">
            </colgroup>
            <thead>
                <tr>
                    <th>Request:</th>
                    <th>Questions:</th>
                    <th>Email:</th>
                    <th>Requested On:</th>
                    <th>Due By:</th>
                </tr>
            </thead>
            <tbody>
                {% for item in commission %}
                        {% if item.request %}
                            <tr>
                                <td><strong>{{ item.request }}</strong></td>
                                <td>{{ item.questions }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.request_date }}</td>
                                <td>{{ item.deadline }}</td>
                            </tr>
                        {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
