{% extends "base.html" %}

{% block title %}Add Portfolio - My Website{% endblock %}

{% block content %}
    <div class="header"><h1>Add New Portfolio Item</h1></div>

    <div class="request-container">
        <table>
            <thead>
                <tr>
                    <th>Request:</th>
                    <th>Requested On:</th>
                </tr>
            </thead>
            <tbody>
                {% for item in commission %}
                        {% if item.request %}
                            <tr>
                                <td>{{ item.request }}</td>
                                <td>{{ item.request_date }}</td>
                            </tr>
                        {% endif %}
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
