{% extends "base.html" %}

{% block title %}Add Portfolio - My Website{% endblock %}

{% block content %}
    <div class="header"><h1>Add New Portfolio Item</h1></div>

    <div class="request-container">
        {% for item in commission %}
            <div class="request_display">
                {% if item.request %}
                    <p>Banana</p>
                {% endif %}

                <!-- <h2>{{ item.title }}</h2> -->
            </div>
        {% endfor %}
    </div>

{% endblock %}

